.Rhistory

raw_data/all_inat_obs
raw_data/observations.csv

processed_data/clean_us_obs.csv
processed_data/park_obs.csv
processed_data/us_users.csv

processed_data/us_obs.csv

processed_data/amphibians.csv
processed_data/arachnids.csv
processed_data/birds.csv
processed_data/rayfish.csv
processed_data/insects.csv
processed_data/mammals.csv
processed_data/plants.csv
processed_data/reptiles.csv

*.DS_Store


